<div class='row bg-variant justify-content-center'>
  <div
    class='col-12 text-light text-center justify-content-center mb-5 mt-5'
    style='font-size: 48px; font-weight:500;'
  >
    Lựa chọn công việc của bạn
  </div>
</div>
<div class='container-fluid mt-5 mb-5'>
  <div class='row'>
    <div class='col-12 col-xl-2 mb-3'>
      <div class='card'>
        <div class='card-body'>
          <h5 class='card-title'>Lọc tìm kiếm</h5>
          <p class='card-text'><em>Bạn đang tìm một công việc thế nào?</em></p>
        </div>
        <ul class='list-group list-group-flush'>
          <li class='list-group-item'>
            <h5>Danh mục</h5>
            <div class='list-group list-group-flush'>
              <a href='' class='list-group-item'>
                Phục vụ
              </a>
              <a href='' class='list-group-item'>
                Viết lách
              </a>
              <a href='' class='list-group-item'>
                Gia sư
              </a>
              <a href='' class='list-group-item'>
                Trợ lý bán hàng
              </a>
            </div>
          </li>
          <li class='list-group-item'>
            <h5>Vị trí</h5>
            <div class='form-check'>
              <input
                class='form-check-input'
                type='checkbox'
                value=''
                id='flex-1'
              />
              <label class='form-check-label' for='flex-1'>
                Thủ Đức
              </label>
            </div>
            <div class='form-check'>
              <input
                class='form-check-input'
                type='checkbox'
                value=''
                id='flex-2'
              />
              <label class='form-check-label' for='flex-2'>
                Bình Dương
              </label>
            </div>
            <div class='form-check'>
              <input
                class='form-check-input'
                type='checkbox'
                value=''
                id='flex-3'
              />
              <label class='form-check-label' for='flex-3'>
                Quận 1
              </label>
            </div>
            <div class='form-check'>
              <input
                class='form-check-input'
                type='checkbox'
                value=''
                id='flex-4'
              />
              <label class='form-check-label' for='flex-4'>
                Quận Bình Thạnh
              </label>
            </div>
          </li>
          <li class='list-group-item'>
            <h5>Lương</h5>
            <div class='form-check'>
              <input
                class='form-check-input'
                type='radio'
                name='flexRadioDefault'
                id='flexRadioDefault1'
              />
              <label class='form-check-label' for='flexRadioDefault1'>
                &lt500000đ
              </label>
            </div>
            <div class='form-check'>
              <input
                class='form-check-input'
                type='radio'
                name='flexRadioDefault'
                id='flexRadioDefault2'
              />
              <label class='form-check-label' for='flexRadioDefault2'>
                >500000đ
              </label>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class='col-12 col-xl-10 mb-3'>
      <div class='row'>
        <div class='d-flex justify-content-center'>
          <form class='w-50'>
            <div class='input-group input-group-lg'>
              <input
                class='form-control me-2'
                type='search'
                placeholder='Search'
                aria-label='Search'
              />
            </div>
          </form>
        </div>
      </div>
      <div class='card'>
        <div class='list-group list-group-flush'>
          {{#each jobs}}
          <a href='' class='list-group-item'>
            <h3>{{name}}</h3>
            <p>{{description}}</p>
            <h5><b>Lương:&nbsp;</b>{{this.salary}}</h5>
            <h5><b>Vị trí:&nbsp;</b>{{this.location}}</h5>
            <h5><b>Đăng bởi:&nbsp;</b>{{this.posted_by}}</h5>
          </a>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
  <div class='d-flex justify-content-center'>
    <nav aria-label='Page navigation example'>
      <ul class='pagination'>
        <li class='page-item'>
          <a class='page-link' href='#' aria-label='Previous'>
            <span aria-hidden='true'>&laquo;</span>
          </a>
        </li>
        <li class='page-item'><a class='page-link' href='#'>1</a></li>
        <li class='page-item'><a class='page-link' href='#'>2</a></li>
        <li class='page-item'><a class='page-link' href='#'>3</a></li>
        <li class='page-item'>
          <a class='page-link' href='#' aria-label='Next'>
            <span aria-hidden='true'>&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>