<div class='row bg-variant justify-content-center'>
  <div
    class='col-12 text-light text-center justify-content-center mb-5 mt-5'
    style='font-size: 48px; font-weight:500;'
  >
    Thông tin cá nhân
  </div>
</div>
<div class='container-fluid d-flex justify-content-center mt-5 mb-5'>
  <div class='col-12 col-xl-7'>
    <div class='row mb-5'>
      <div class='col-5'><h3>Họ và tên đệm:</h3></div>
      <div class='col-7'><h3>{{user.lastname}}</h3></div>
    </div>
    <div class='row mb-5'>
      <div class='col-5'><h3>Tên:</h3></div>
      <div class='col-7'><h3>{{user.firstname}}</h3></div>
    </div>
    <div class='row mb-5'>
      <div class='col-5'><h3>Ngày sinh:</h3></div>
      <div class='col-7'><h3>{{user.dob}}</h3></div>
    </div>
    <div class='row mb-5'>
      <div class='col-5'><h3>Địa chỉ:</h3></div>
      <div class='col-7'><h3>{{user.address}}</h3></div>
    </div>
    <div class='row mb-5'>
      <div class='col-5'><h3>Trường/Nơi công tác:</h3></div>
      <div class='col-7'><h3>{{user.school}}</h3></div>
    </div>
    <div class='row mb-5'>
      <div class='col-5'><h3>Số điện thoại:</h3></div>
      <div class='col-7'><h3>{{user.phone}}</h3></div>
    </div>
    <div class='row mb-5'>
      <div class='col-5'><h3>E-mail:</h3></div>
      <div class='col-7'><h3>{{user.email}}</h3></div>
    </div>
    <div class='row mb-5'>
      <div class='col-5'><h3>Ngày tạo:</h3></div>
      <div class='col-7'><h3>{{user.created}}</h3></div>
    </div>
  </div>
</div>